@font-face {
  font-family: "iconfont"; /* Project id 2463988 */
  src: url('iconfont.woff2?t=1621223480768') format('woff2'),
       url('iconfont.woff?t=1621223480768') format('woff'),
       url('iconfont.ttf?t=1621223480768') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouquan:before {
  content: "\e606";
}

.icon-zhanghu:before {
  content: "\e632";
}

.icon-huankuan:before {
  content: "\e6be";
}

.icon-zhuanzhang:before {
  content: "\e74f";
}

.icon-yonghuleixing_huaban1:before {
  content: "\e605";
}

.icon-shiming:before {
  content: "\e65e";
}

.icon-shouye:before {
  content: "\e684";
}

.icon--:before {
  content: "\e604";
}

.icon-chazhaobiaodanliebiao:before {
  content: "\e76a";
}

.icon-shenqingxialaiderenwu-copy:before {
  content: "\e60e";
}

.icon-shousuo:before {
  content: "\e60a";
}

.icon-tuichu:before {
  content: "\e60c";
}

.icon-jianchacheck35:before {
  content: "\e688";
}

.icon-emailFilled:before {
  content: "\e647";
}

.icon-denglu:before {
  content: "\e612";
}

.icon-mima:before {
  content: "\e637";
}

